.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card-outer {
  float: left;
  width: 33%;
  display: flex;
  padding: 0 15px;
}
.card {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}

// For styling only

.card__photo {
  background-color: #B1ECD8;
  height: 120px;
}
.card__inner {
  padding: 15px;
}
.card__content {
  height: 15px;
  background-color: #B1ECD8;
  margin-bottom: 10px;
}
.card__content--short {
  width: 75%;
}
