// These cards will show at equal height to their siblings, where flexbox is not supported, they will display in rows, at varying heights and align to the top.

.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card-outer {
  display: inline-block;
  display: flex;
  width: 33%;
  padding: 0 15px;
  margin: 0 0 30px;
  vertical-align: top;
}
.card {
  width: 100%;
}

// For styling only

.card {
  background-color: white;
  border-radius: 4px;
}
.card__photo {
  background-color: #B1ECD8;
  height: 120px;
}
.card__inner {
  padding: 15px;
}
.card__content {
  height: 15px;
  background-color: #B1ECD8;
  margin-bottom: 10px;
}
.card__content--short {
  width: 75%;
}
